# Build Folders #
bin/
build/
target/
gen/
libraries_runtime/
libraries_shade/
build_libraries/
logs/

# Gradle
.gradle
.gradletasknamecache

 # Eclipse Files #
*.project
*.classpath
*.prefs
*.factorypath
.apt_generated/
.externalToolBuilders/

# Netbeans
.nb-gradle/

# IntelliJ
.idea/
*.iml


# Server files
/banned-ips.json
/banned-players.json
/bukkit.yml
/commands.yml
/crash-reports/
/help.yml
/ops.json
/permissions.yml
/plugins/
/server.properties
/spigot.yml
/usercache.json
/whitelist.json
/world/
/world_nether/
/world_the_end/
/eula.txt
/paper.yml
/version_history.json
