# Build Folders #
/bin/
/build/
/run/

# Gradle
.gradle
.gradletasknamecache

 # Eclipse Files #
*.project
*.classpath
*.prefs
*.factorypath
.apt_generated/
.externalToolBuilders/

# Netbeans
.nb-gradle/

# IntelliJ
.idea/
*.iml

